<!DOCTYPE html>
<html>
<head>
    <title>Photobooth</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="mobile-web-app-capable" content="yes">
</head>
<body class="page-controller">
    <a href="#" class="fullscreen">FULLSCREEN</a>
    <div class="preview">
        <video autoplay="true"></video>
    </div>
    <div class="container">
        <button class="trigger">Prendre Une Photo !</button>
        <div class="counter"></div>
    </div>
    <ul class="photos"></ul>
    <div class="overlay">
        <div class="popin">
            <div class="wrapper">
                <div class="body">
                    <img />
                    <div class="qr-overlay">
                        <div class="qr-text-top">Télécharger</div>
                        <div class="qr-loader">QRCode</div>
                        <img class="qr-code" style="display: none;" />
                        <div class="qr-text-bottom">L'Image</div>
                    </div>
                    <!-- Print button overlay (bottom-left) -->
                    <button class="print-photo" style="display: none;">
                        🖨️ Imprimer
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/qrcode.min.js"></script>
    <script src="/js/all-in-one.js"></script>
</body>

</html>
