<!DOCTYPE html>
<html>
<head>
    <title>Photobooth</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
</head>
<body class="page-camera">
    <div class="message">
        <span>Lancez la photo depuis la tablette</span>
    </div>
    <div class="counter">
    </div>
    <div class="photo">
        <img src="" />
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/camera.js"></script>
</body>

</html>