<!DOCTYPE html>
<html>
<head>
    <title>Halloothween</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <div class="message">
        Utilisez la tablette pour lancer la prise de photo.
    </div>
    <div class="counter">
        <span></span>
    </div>
    <div class="photo">

    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/camera.js"></script>
</body>

</html>