<!DOCTYPE html>
<html>
<head>
    <title>Halloothween</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="page-manager">
    <div class="container">
        <h4>Girophare</h4>
        <p><input type="range" class= "trigger-speed" min="0" max="255" value="255" step="1" /></p>
        <ul>
            <li class="trigger" data-name="Alarm" data-param="000">Alarme 0</li>
            <li class="trigger" data-name="Alarm" data-param="001">Alarme 1</li>
            <li class="trigger" data-name="Alarm" data-param="002">Alarme 2</li>
            <li class="trigger" data-name="Alarm" data-param="003">Alarme 3</li>
            <li class="trigger" data-name="Alarm" data-param="004">Alarme 4</li>
            <li class="trigger" data-name="Alarm" data-param="005">Alarme 5</li>
            <li class="trigger" data-name="Alarm" data-param="006">Alarme 6</li>
        </ul>
        <hr/>
        <h4>zWave</h4>
        <p>
            <a class="start" href='#'>Démarre</a>
        </p>
        <p>
            <label>Level</label>
            <input type="range" class= "trigger-level" min="0" max="99" value="0" step="1" />
        </p>
        <p>
            <label>Couleur</label>
            <input type="color" class= "color" value="#FF0000" />
        </p>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/manager.js"></script>
</body>

</html>