<!DOCTYPE html>
<html>
<head>
    <title>Halloothween</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="page-zwave">
    <div class="container">
        <p><input type="range" class= "trigger-level" min="0" max="100" value="0" step="1" /></p>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/zwave.js"></script>
</body>

</html>