@font-face {
    font-family: "wild-wood";
    src: url('/font/wildwood.ttf');
}
@keyframes zoom {
    from {transform: scale(5.0);}
    to {transform: scale(1.0);}
}
body{
    padding: 0;
    margin: 0;
}
/******************************************
 * PAGE CAMERA
 */
.page-camera {
    background: url("/img/background.jpg"); /*halloween*/
    /* background: url("/img/photo-105.jpg"); /* Soiree des iles*/
    /*background: url("/img/emilie_camera.jpg") no-repeat center fixed; /* Anniversaire */
    background-size: cover;
    cursor: none;
}
.page-camera .counter,
.page-camera .message {
    display: none;
    /* font-family: "wild-wood"; */
    font-family: sans-serif;
    font-weight: bolder;
    margin: auto;
    width: 60%;
    color: #f00;
    /*color: rgba(16, 255, 0, 0.82);*/
    /*color: rgba(65, 161, 57, 1);*/
    text-align: center;
    font-size: 65px;
    margin-top: 320px;
    text-shadow: 3px 3px 15px #fff;
}
.page-camera .message span,
.page-camera .message img {
    display: inline-block;
    vertical-align: middle;
}
.page-camera .counter {
    margin-top: 380px;
}
.page-camera .photo{
    display: none;
    width: 75%;
    margin: auto;
    margin-top: 75px;
    box-shadow: 0px 0px 20px 10px #656565;
}
.page-camera .photo img {
    width:100%;
    display: block;
}
.zoom-start {
    animation: 1s zoom;
}

/******************************************
 * PAGE CONTROLEUR
 */
.page-controller {
    /*background: url("/img/controller.png"); /* Halloween */
    /* background: url("/img/photo-007.jpg"); */
    /*background: url("/img/emilie_controller.jpg");*/
    background: url("/img/theatre.jpg");
    padding: 10px;
    /* background-size: cover; */
}

.page-controller .container{
    position: absolute;
    top: 90px;
    left: 180px;
    width: 620px;
    height: 300px;
}
.page-controller .trigger{
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    font-size: 5em;
    font-weight: bold;
    color: red;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;
    width: 80%;
    height: 90%;
    margin-left: 10%;
    text-shadow: 3px 3px 15px #fff;
}
.page-controller button:focus {outline:0;}
.page-controller .photos{
    width: 75%;
    margin: auto;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 0;
    bottom: 10px;
    position: absolute;
    left: 12.5%;
}
.page-controller .photos li{
    display: inline-block;
}
.page-controller .photos li+li{
    margin-left: 10px;
}
.page-controller .photos img{
    width: 158px;
    display: block;
}
.page-controller .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.6);
    display:none;
    top:0;
    left:0;
}
.page-controller .popin{
    width:75%;
    margin:auto;
    position: relative;
    top: 40px;
    background: #656565;
    box-shadow: 0px 0px 20px 10px #656565;
}
.page-controller .popin img{
    width: 100%;
    display: block;
}
.page-controller.popin-shown .overlay{display:block}

/******************************************
 * PAGE DISPLAYER
 */
.page-displayer
{
    background: url("/img/background.jpg");
    background-size: cover;
    cursor: none;
}

.page-displayer .container{
    width: 80%;
    margin:auto;
    margin-top:10px;
    box-shadow: 0px 0px 20px 10px #656565;
}

.page-displayer img {
    width:100%;
    display: block;
}

.page-displayer img.alarm {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

/******************************************
 * PAGE MANAGER
 */
.page-manager {
    font-size: 2em;
}
.page-manager li {
    margin: 30px 0;
}

/******************************************
 * PAGE ALL IN ONE
 */
 .page-controller .preview {
     width: 620px;
     margin: auto;
 }
 .page-controller video {
    width: 100%;
    transform: rotateY(180deg);
}

.page-controller .counter {
    display: none;
    font-family: sans-serif;
    font-weight: bolder;
    margin: auto;
    width: 60%;
    color: #f00;
    text-align: center;
    font-size: 65px;
    margin-top: 90px;
    text-shadow: 3px 3px 15px #fff;
}